.todo-info-container {
  background-color: hsl(235, 24%, 19%);
  height: 45px;
  border-radius: 0 0 6px 6px;
  color: hsla(234, 39%, 85%, 0.623);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 35px;
  font-size: 14px;
}

.status span {
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.status span:hover,
.clear-items:hover {
  color: hsl(220, 98%, 61%);
}

.status span:last-of-type {
  margin-right: 0px;
}

.clear-items {
  cursor: pointer;
  transition: all 0.2s ease-in;
}
